#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: sans-serif;
  display: block;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

/* Add a background color to the top navigation */
.topnav {
    background-color: #d3d3d3;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #343a40;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* Adds a shadow under the nav bar */
.shadow {
    box-shadow: 0, .125rem .25rem rgba(0,0,0,.075)!important;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color:black;
}

/* Add a color to the active/current/link and float left */
.topnav a.active {
    background-color: #A9A9A9;
    color: white;
    font-weight: bold;
    float: left;
}

/* adjusts size and position of h1 */
h1 {
    padding-top: 40px;
    font-size: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* adjusts size and position of h2 */
h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

/* Makes image circular */
.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin-top: 35px;
}

/* Stylize the social links */
.social-link {
    color: #343a40;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ddd;
    margin: 25px;
    display: inline-block;
}

/* Stylize social link upon hover */
.social-link:hover {
    background-color: #BEBEBE;
    color:black;
}

/* Stylize the about section */
.about {
    display: inline-block;
    background-color: #dddddd;
    width: 100%;
}

/* Change h2 font and position */
h2 {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 0;
}

/* Add some space below button */
button {
    margin-bottom: 10px;
}

/* Add some space above the random fact */
.fact-container {
    margin-top: 10px;
    margin-bottom: 10px;
}